//main-theme
$primary: #3aaba7;
$secondary: #e35e6a;
$tertiary: #fbcd44;
$text-primary: #000000;
$background-primary: #ffffff;
$background-secondary: #f0f4f3;

// break-points
$xs: 400px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1400px;

//Font-size
$base-font-size: 16px;
$default-min-font-size: 8px;
$default-max-font-size: 32px;

/* Scroll bar */
$thumb: #888888;
$track: #f1f1f1;
